{eval
function tpl_forumdisplay_fastpost_btn_extra() {
global $_G;
}
<!--{block return}-->
   <div id="captcha" style="margin-top:10px"><table><tbody><tr>
   <!--<th style="width:60px;"><div>*{lang geetest:move_to_captcha}:</div></th>-->
   <td id="btn_fastpost">
</td></tr></tbody></table></div>
<script type="text/javascript">
    getCaptcha("#btn_fastpost","float");
    changeCaptcha();
</script>

<!--{/block}-->
<!--{eval return $return;}-->
{eval
}

function tpl_viewthread_fastpost_btn_extra() {
global $_G;
}
<!--{block return}-->
<div id="captcha" style="margin-top:10px"><table><tbody><tr>
<!--<th style="width:60px;"><div>*{lang geetest:move_to_captcha}:</div></th>-->
<td id="viewthread_fastpost_btn_extra">
</td></tr></tbody></table></div>
<script type="text/javascript">
    getCaptcha("#viewthread_fastpost_btn_extra","float");
    changeCaptcha();
</script>
<!--{/block}-->
<!--{eval return $return;}-->
{eval
}

function tpl_post_infloat_middle() {
global $_G;
}
<!--{block return}-->
   <div style="padding-bottom: 10px;margin-left: 10px;"><table><tbody><tr>
   <!--<th style="width:80px;"><div>*{lang geetest:move_to_captcha}:</div></th>-->
   <td id="infloat_middle">
</td></tr></tbody></table></div>
<script type="text/javascript">
    getCaptcha("#infloat_middle","float");
</script>
<!--{/block}-->
<!--{eval return $return;}-->
{eval
}

function tpl_post_middle() {
global $_G;
}
<!--{block return}-->

    <div style="padding-top: 10px"><table><tbody><tr>
    <!--<th style="width:80px;"><div>*{lang geetest:move_to_captcha}:</div></th>-->
    <td id="post_middle">
<script type="text/javascript">
    getCaptcha("#post_middle","float");
</script>

</td></tr></tbody></table></div>
<!--{/block}-->
<!--{eval return $return;}-->
{eval
}

}