{eval
function tpl_spacecp_credit_bottom() {
global $_G;
}
<!--{block return}-->
<div ><table><tbody><tr>
    <td id="spacecp_credit_bottom">
    </td></tr></tbody></table></div>
    <script type="text/javascript">
        getCaptcha("#spacecp_credit_bottom","popup","#transfersubmit_btn");
    </script>
    <!--{/block}-->
    <!--{eval return $return;}-->
    {eval
    }
    function tpl_follow_top() {
    global $_G;
    }
    <!--{block return}-->
    <div id="captcha"><table><tbody><tr>
        <th style="width:80px;"><div>*{lang geetest:move_to_captcha}:</div></th>
        <td id="follow_top"></td></tr></tbody></table></div>
        <script type="text/javascript">
            var cts=document.getElementById("ct").childNodes;
            cts[1].className="mn_overflow";
            getCaptcha("#follow_top","float");
            function move_fast_geetest_before_submit() {
                var fastpostform = document.getElementById('fastpostform');
                var geetest = document.getElementById('captcha');
                fastpostform.insertBefore(geetest, fastpostform.firstChild);
                geetest.style.marginBottom="15px";
            }
            _attachEvent(window, 'load', move_fast_geetest_before_submit);
        </script>
        <!--{/block}-->
        <!--{eval return $return;}-->
        {eval
        }
        function tpl_spacecp_blog_middle() {
        global $_G;
        }
        <!--{block return}-->
        <div><table class="tfm"><tbody><tr><th><div>*{lang geetest:move_to_captcha}:</div></th><td id="spacecp_blog_middle">
        <script type="text/javascript">
            getCaptcha("#spacecp_blog_middle","float");
        </script>
    </td></tr></tbody></table></div>
    <!--{/block}-->
    <!--{eval return $return;}-->
    {eval
    }
    function tpl_space_blog_face_extra() {
    global $_G;
    }
    <!--{block return}-->
    <div style="margin-top: 10px;margin-bottom: 10px;"><table><tbody><tr>
        <th style="width:80px;"><div>*{lang geetest:move_to_captcha}:</div></th>
        <td id="space_blog_face_extra">
            <script type="text/javascript">
                getCaptcha("#space_blog_face_extra","float");
            </script>
        </td></tr></tbody></table></div>
        <!--{/block}-->
        <!--{eval return $return;}-->
        {eval
        }
        function tpl_space_wall_face_extra() {
        global $_G;
        }
        <!--{block return}-->
        <div style="margin-top: 10px;margin-bottom: 10px;"><table><tbody><tr>
            <th style="width:80px;"><div>*{lang geetest:move_to_captcha}:</div></th>
            <td id="space_wall_face_extra">
                <script type="text/javascript">
                    var cts=document.getElementById("ct").childNodes;
                    cts[1].className="mn_overflow";
                    getCaptcha("#space_wall_face_extra","float");
                </script>
            </td></tr></tbody></table></div>
            <!--{/block}-->
            <!--{eval return $return;}-->
            {eval
            }
            }